#1 {
    -fx-background-image: url('../../../../../assets/images/backgrounds/background_1.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

#2 {
    -fx-background-image: url('../../../../../assets/images/backgrounds/background_2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}


#4 {
    -fx-background-image: url('../../../../../assets/images/backgrounds/background_4.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

#5 {
    -fx-background-image: url('../../../../../assets/images/backgrounds/background_5.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}



.button:focused {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}