.button:focused {
    -fx-text-fill: DARKGOLDENROD;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: WHITE;
}

#savedGameButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: black;
}

#savedGameButton:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#savedGameButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}